@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>WebEtiqueta</title>

        <link href="~/vendor/fontawesome-free/css/all.min.css"
              rel="stylesheet"
              type="text/css">

        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
              rel="stylesheet">

        <link href="~/css/sb-admin-2.min.css"
              rel="stylesheet">

         <link href="~/css/Login.css"
               rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5 mt-5">

                    <div id="alertaPage" class="alert alert-alertaTipo bg-alertaTipo card-alert text-white shadow d-flex justify-content-between align-items-center" role="alert" style="opacity: 0">
                        <div>
                            <span id="alertaPageTexto"></span>
                            <i id="btnAbrirSuporteModal" href="#" class="fas fa-info-circle"></i>
                        </div>

                        <button id="btnFecharAlertaPage" type="button" class="btn btn-light btn-circle">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                    
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <!--
                                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                -->
                                <div class="col-lg-12">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Web Etiqueta</h1>
                                            @if (ViewBag.Empresa != null)
                                            {
                                                <p>@ViewBag.Empresa.Nome</p>
                                            }
                                        </div>
                                        <form class="user" id="formLogin">
                                            <div class="form-group">
                                            <input type="@(ViewBag.Empresa != null ? "hidden" : "text")" class="form-control form-control-user trim-input intP-input"
                                                   id="empresaCnpjCpf" name="empresaCnpjCpf" placeholder="CNPJ/CPF"
                                                        value="@(ViewBag.Empresa != null ? ViewBag.Empresa.CnpjCpf : "")" 
                                                        required>
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-user trim-input"
                                                   id="usuarioLogin" name="usuarioLogin" aria-describedby="Nome Login"
                                                        placeholder="Usuario"
                                                        required>
                                            </div>
                                            
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user trim-input"
                                                   id="usuarioSenha" name="usuarioSenha" placeholder="Senha"
                                                        required>
                                            </div>
                                            <!--
                                                <div class="form-group">
                                                    <div class="custom-control custom-checkbox small">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                                        <label class="custom-control-label" for="customCheck">
                                                            Remember
                                                            Me
                                                        </label>
                                                    </div>
                                                </div>
                                            -->
                                            <input id="btnLogin" type="submit" class="btn btn-primary btn-user btn-block" value="Entrar">
                                        </form>
                                        <hr>
                                        <!--
                                            <div class="text-center">
                                                    <a class="small" href="forgot-password.html">Forgot Password?</a>
                                            </div>
                                            <div class="text-center">
                                                <a class="small" href="register.html">Criar Conta</a>
                                            </div>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="suporteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Suporte</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <form id="formSuporte">
                        <div id="divLogSuporte" style="display: none; padding: 5px">
                            <p id="logSuporteTexto"></p>
                        </div>

                        <div id="divFormSuporte">
                            <div id="alertaFormSuporte" class="alert alert-danger" role="alert" style="border-radius: 0px; display: none;">
                                <span id="alertaFormSuporteTexto"></span>
                            </div>

                            <div class="modal-body">
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user trim-input"
                                       id="suporteSenha" name="suporteSenha" placeholder="Senha">
                                    </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input id="btnSuporteSenha" type="submit" class="btn btn-primary btn-user btn-block" value="Confirmar">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script src="~/js/sweetalert2.all.min.js"></script>

        <!-- Bootstrap core JavaScript-->
        <script src="~/vendor/jquery/jquery.min.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script>
            const BASE_URL      = window.location.origin;

            var ALERTA_MENSAGEM = @Html.Raw(Json.Serialize(TempData["AlertaMensagem"] ?? ViewBag.AlertaMensagem));
            var ALERTA_TIPO     = @Html.Raw(Json.Serialize(TempData["AlertaTipo"] ?? ViewBag.AlertaTipo ?? null));
            var LOG_SUPORTE     = @Html.Raw(Json.Serialize(TempData["LogSuporte"]) ?? ViewBag.LogSuporte ?? null); // mensagem de log

            //      ELEMENTOS.      //
            const $alertaPage           = $("#alertaPage");
            const $alertaPageTexto      = $("#alertaPageTexto");
            const $btnFecharAlertaPage  = $("#btnFecharAlertaPage");

            const $btnAbrirSuporteModal = $("#btnAbrirSuporteModal");
            const $logSuporteTexto      = $("#logSuporteTexto");
            const $suporteModal         = $("#suporteModal");

            const $divFormSuporte   = $("#divFormSuporte");
            const $divLogSuporte    = $("#divLogSuporte");

            const $alertaFormSuporte        = $("#alertaFormSuporte");
            const $alertaFormSuporteTexto   = $("#alertaFormSuporteTexto");
            //     /ELEMENTOS.      //

            //      FUNÇÕES.        //
            function abrirAlertaFormSuporte(msg) {
                $alertaFormSuporte.css("display", "block");
                $alertaFormSuporteTexto.text(msg);
            }

            function fecharAlertaFormSuporte() {
                $alertaFormSuporte.css("display", "none");
                $alertaFormSuporteTexto.text(null);
            }

            function definirLog(msg) {
                $logSuporteTexto.text(msg);
            }

            function abrirAlertaPage(tipo, mensagem, log) {
                // ALERTA_TIPO, ALERTA_MENSAGEM, LOG_SUPORTE
                $alertaPage.css("opacity", 1);
                tipo == "danger" ? $alertaPage.addClass("alert-danger") : $alertaPage.addClass("alert-success");
                tipo == "danger" ? $alertaPage.removeClass("alert-success") : $alertaPage.removeClass("alert-danger");

                tipo == "danger" ? $alertaPage.removeClass("bg-success") : $alertaPage.removeClass("bg-danger");
                tipo == "danger" ? $alertaPage.addClass("bg-danger") : $alertaPage.addClass("bg-success");

                $alertaPageTexto.text(mensagem);
                if (log != null) {
                    $btnAbrirSuporteModal.show();
                    definirLog(log);
                } else {
                    $btnAbrirSuporteModal.hide();
                }
            }
            //     /FUNÇÕES.        //
            
            $(document).ready(function () {
                if (ALERTA_TIPO != null) {
                    console.error("Erro: ", LOG_SUPORTE);
                    abrirAlertaPage(ALERTA_TIPO, ALERTA_MENSAGEM, LOG_SUPORTE);
                }

                //      EVENTOS.        //
                //      ABRIR/FECHAR MODAL.     //
                $suporteModal.on('shown.bs.modal', function () {
                    $("#suporteSenha").focus();
                });

                $suporteModal.on('hidden.bs.modal', function () {
                    fecharAlertaFormSuporte();
                    $("#suporteSenha").val(null);
				    $divFormSuporte.css("display", "block");
			        $divLogSuporte.css("display", "none");
                });
                //     /ABRIR/FECHAR MODAL.     //

                //      CLICK.      //
                $btnFecharAlertaPage.click(()   => $alertaPage.css("opacity", 0));
                $btnAbrirSuporteModal.click(()  => $suporteModal.modal("show"));
                //     /CLICK.      //

                //      SUBMIT.     //
                $("#formSuporte").submit(async function (e) {
                    e.preventDefault();
				    if($logSuporteTexto.is(":visible")) return;
                    fecharAlertaFormSuporte();
                    $("#btnSuporteSenha").val("Carregando...").prop("disabled", true);
                    
                    let formData = new FormData(this);

                    try {
                        const requisicao = await fetch(`${BASE_URL}/Auth/SenhaSuporte`, {
                            method: "POST",
                            body: formData
                        });

                        if (!requisicao.ok) {
                            const contentType = requisicao.headers.get("content-type");
                            if (contentType && contentType.includes("application/json")) {
                                const erro = await requisicao.json();
                                console.error("Erro: ", erro.logSuporte);
                                abrirAlertaFormSuporte(`Erro: ${erro.mensagem}`);
                            } else {
                                const erro = await requisicao.text();
                                console.error("Erro: ", erro);
                                abrirAlertaFormSuporte("Erro: tente novamente mais tarde ou entre em contato com o suporte");
                            }

                            return;
                        }

					    $divFormSuporte.css("display", "none");
				        $divLogSuporte.css("display", "block");
                    } catch (error) 
                    {
                        console.error("Erro: ", error);
                        abrirAlertaFormSuporte("Erro: tente novamente mais tarde ou entre em contato com o suporte");
                    } finally
                    { 
                        $("#btnSuporteSenha").val("Confirmar").prop("disabled", false);
                        $("#suporteSenha").val(null);
                    }
                });
                //      SUBMIT.     //

                //      KEYDOWN.        //
                $(document).keydown(function (e) {
                    if (e.ctrlKey && e.altKey && e.key.toLowerCase() === "s") {
                        e.preventDefault();
                        if ($btnAbrirSuporteModal.is(":visible")) {
                            $suporteModal.modal("show");
                        }
                    }
                });
                //     /KEYDOWN.        //
                //     /EVENTOS.        //
            });
        </script>
        <!-- 1 Carrega os arquivos em todas as Views; 2 Carrega os arquivos em todas as View de um mesmo grupo; 3 Carrega os arquivos especificos de cada View -->
        @await Component.InvokeAsync("Webpack", 2)
        @await Component.InvokeAsync("Webpack", 3)
    </body>
</html>