<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebEtiqueta</title>

    <link href="~/vendor/fontawesome-free/css/all.min.css" 
          rel="stylesheet" 
          type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/css/sb-admin-2.min.css" 
           rel="stylesheet">

    <link href="~/css/dataTables.dataTables.css"
          rel="stylesheet">

    <link href="~/css/responsive.dataTables.css"
          rel="stylesheet">
          
    <link href="~/css/rowReorder.dataTables.css"
          rel="stylesheet">
</head>
<body id="page-top">
    
    <section id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="background: #206BA5">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Etiqueta" asp-action="Index">
                <!-- 
                    <div class="sidebar-brand-icon rotate-n-15">
                         <svg width="40" height="40" viewBox="0 0 182 182" fill="none" xmlns="http://www.w3.org/2000/svg">
                             <path d="M72.5 1.3772C29.7 10.7772 0 47.2772 0 90.3772C0 125.177 19.3 156.377 50.5 172.077C53.3 173.477 59.3 175.877 64 177.477C72 180.077 88 182 90 182C92 182 114.721 181.334 130.7 172.877C159.2 158.977 177.4 132.177 181.2 99.8772C183.8 78.0772 177.4 54.5772 163.9 36.3772C159.5 30.2772 148.1 19.3772 142 15.1772C132.1 8.47719 118.7 3.07719 106.6 0.977188C98.5 -0.522812 79.8 -0.222803 72.5 1.3772ZM105.7 24.3772C112.1 26.2772 118 30.5772 121.8 36.0772C124.5 40.0772 125.3 41.9772 127.7 50.2772C128.4 52.7772 129.2 53.3772 133.6 54.3772C148.1 57.6772 158 69.5772 158 83.9772C158 96.9772 157.8 97.2772 126.6 128.677C111.1 144.277 97.5 157.177 96.3 157.577C90.3 158.977 85 154.777 85 148.477C85 144.577 85.7 143.777 111.9 117.477C140.6 88.4772 141.4 87.4772 139 80.3772C137.8 76.6772 134.2 73.5772 129.9 72.5772C123.9 71.0772 121.4 73.0772 94.5 99.8772C80.2 114.077 67.4 126.177 66 126.677C60.3 128.777 54.1 124.277 54 117.877C54 114.677 56 112.477 80.4 87.8772C94.9 73.2772 107.3 60.3772 107.9 59.1772C110.6 53.8772 108.2 46.0772 103 43.3772C101.4 42.5772 98.2 41.8772 95.9 41.8772C91.6 41.8772 91.4 42.0772 64.6 68.7772C47 86.2772 36.5 95.9772 34.7 96.3772C28.4 97.9772 21.9 91.5772 23.4 85.2772C24.4 81.2772 75.9 29.9772 82 26.8772C90.6 22.4772 97.1 21.8772 105.7 24.3772Z" fill="#F8F8F8" />
                         </svg>
                     </div>
                     <div class="sidebar-brand-text mx-3">ETIQUETAS<sup>BM</sup></div>
                -->
                <div class="sidebar-brand-text mx-3">ETIQUETAS<sup>WEB</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Funções
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
                            <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5M.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5m15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0z" />
                        </svg>
                    </i>
                    <span>Etiquetas</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Opções:</h6>

                        <a class="collapse-item" asp-area="" asp-controller="Etiqueta" asp-action="Index">
                            Imprimir
                        </a>
                        
                        <!-- Subnível  -->
                         <a class="collapse-item" href="#" data-toggle="collapse" data-target="#collapseOutras" aria-expanded="false" aria-controls="collapseOutras"
                           style="gap:4px; display:flex; align-items:center; justify-content: space-between"> 
                            Cadastros
                             <i class="seta fas fa-chevron-right"></i> 
                        </a>
                        <div id="collapseOutras" class="collapse">
                            <div class="bg-light py-2 collapse-inner rounded"> 
                                <a class="collapse-item" asp-area="" asp-controller="Etiqueta" asp-action="A4">
                                    A4
                                </a> 
                                <a class="collapse-item" asp-area="" asp-controller="Etiqueta" asp-action="Outros">
                                    Outras
                                </a> 
                             </div> 
                        </div> 
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Config
            </div>

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Parâmetros</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">
                            Opções:
                        </h6>
                        @if (ViewBag.NivelAcesso.EditarUsuario)
                        {
                            <a class="collapse-item" href="login.html">
                                Usuários
                            </a>
                        }
                        @if(ViewBag.NivelAcesso.EditarFilial)
                        {
                            <a class="collapse-item" href="register.html">
                                Filiais
                            </a>
                        }
                        @if(ViewBag.NivelAcesso.EditarEtiqueta)
                        {
                            <a class="collapse-item" href="forgot-password.html">
                                Etiquetas
                            </a>
                        }
                      </div>
                </div>
            </li>

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                        </svg>
                    </i>
                    <span>Usuários</span>
                </a>
            </li>

            <!-- Nav Item -->
            <li class="nav-item">
                <a class="nav-link" href="">
                    <i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                            <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3q0-.405-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708M3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026z" />
                        </svg>
                    </i>
                    <span>
                        Qz Tray
                    </span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column">
            <main id="content" role="main" class="pb-3" style="height: 100vh">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
 
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                       
                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow" style="display:flex; justify-content:center; align-items: center;">
                            <button id="qzTrayAlert" href="#" class="btn btn-secondary btn-icon-split">
                                <span class="icon text-white-50" style="display:flex; justify-content:center; align-items: center;">
                                    <i id="qzTrayAlertIcon" class="fas fa-check" style="display:none"></i>

                                    <div id="qzTrayAlertSpinner" class="spinner-border spinner-border-sm" role="status">
                                      <span class="sr-only">Loading...</span>
                                    </div>
                                </span>
                                <span class="text">QZTray</span>
                            </button>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small text-capitalize">
                                    @ViewBag.UsuarioLogin
                                </span>
                                <img class="img-profile rounded-circle"
                                     src="~/img/undraw_profile_2.svg"/>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Perfil
                                </a>
                                <!--
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                -->
                                @if (ViewBag.NivelAcesso.Id == 2147483647)
                                {
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Logs
                                    </a>
                                }
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Sair
                                </a>
                            </div>
                        </li>
                    </ul>

                </nav>
                <!-- End of Topbar -->
                <section class="container-fluid">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-area="" asp-controller="@(ViewContext.RouteData.Values["controller"]?.ToString())" asp-action="Index">
                                    @(ViewContext.RouteData.Values["controller"]?.ToString())
                                </a>
                            </li>
                            @if (ViewContext.RouteData.Values["action"]?.ToString() != "Index")
                            {
                                <li class="breadcrumb-item active" aria-current="page">
                                    @(ViewContext.RouteData.Values["action"]?.ToString())
                                </li>
                            }
                        </ol>
                    </nav>
                    <!--
                    <div class="d-sm-flex align-items-center justify-content-end mb-4">
                        <a style="background: #206BA5" href="https://github.com/qzind/tray/releases/download/v2.2.4/qz-tray-2.2.4-x86_64.exe" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> Baixar QZ Tray
                        </a>
                    </div>
                    -->
                    <div id="alertaPage" class="alert card-alert text-white shadow d-flex justify-content-between align-items-center" role="alert" style="opacity: 0">
                        <div>
                            <span id="alertaPageTexto"></span>
                            <i id="btnAbrirSuporteModal" href="#" class="fas fa-info-circle"></i>
                        </div>

                        <button id="btnFecharAlertaPage" type="button" class="btn btn-light btn-circle">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
      
                    @RenderBody()
                </section>
            </main>

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>© 2024BM Informática Ltda</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
    </section>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Pronto para sair?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecione "Sair" abaixo se você está pronto para encerrar sua sessão atual.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" asp-area="" asp-controller="Auth" asp-action="Logout">Sair</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="suporteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Suporte</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form id="formSuporte">
                    <div id="divLogSuporte" style="display: none; padding: 10px">
                        <p id="logSuporteTexto"></p>
                    </div>

                    <div id="divFormSuporte">
                        <div id="alertaFormSuporte" class="alert alert-danger" role="alert" style="border-radius: 0px; display: none;">
                            <span id="alertaFormSuporteTexto"></span>
                        </div>

                        <div class="modal-body">
                            <div class="form-group">
                                <input type="password" class="form-control form-control-user trim-input"
                                       id="suporteSenha" name="suporteSenha" placeholder="Senha">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input id="btnSuporteSenha" type="submit" class="btn btn-primary btn-user btn-block" value="Confirmar">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/js/qrTray.js"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/js/dataTables.min.js"></script>
    <script src="~/js/dataTables.responsive.js"></script>
    <script src="~/js/dataTables.rowReorder.js"></script>
    <script src="~/js/responsive.dataTables.js"></script>
    <script src="~/js/rowReorder.dataTables.js"></script>
    <script>
        const BASE_URL      = window.location.origin;

        var ALERTA_MENSAGEM = @Html.Raw(Json.Serialize(TempData["AlertaMensagem"] ?? ViewBag.AlertaMensagem));
        var ALERTA_TIPO     = @Html.Raw(Json.Serialize(TempData["AlertaTipo"] ?? ViewBag.AlertaTipo ?? null));
        var LOG_SUPORTE     = @Html.Raw(Json.Serialize(TempData["LogSuporte"]) ?? ViewBag.LogSuporte ?? null); // mensagem de log

        //      ELEMENTOS.      //
        const $alertaPage           = $("#alertaPage");
        const $alertaPageTexto      = $("#alertaPageTexto");
        const $btnFecharAlertaPage  = $("#btnFecharAlertaPage");

        const $btnAbrirSuporteModal = $("#btnAbrirSuporteModal");
        const $logSuporteTexto      = $("#logSuporteTexto");
        const $suporteModal         = $("#suporteModal");

        const $divFormSuporte   = $("#divFormSuporte");
        const $divLogSuporte    = $("#divLogSuporte");

        const $alertaFormSuporte        = $("#alertaFormSuporte");
        const $alertaFormSuporteTexto   = $("#alertaFormSuporteTexto");
        //     /ELEMENTOS.      //

        //      FUNÇÕES.        //
        function loadTabela(idTabela) {
           let tbody = $(`#${idTabela} tbody`);

            tbody.empty();

            for (let i = 0; i < 10; i++) {
                const row = `
                    <tr>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                            </div>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                            </div>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                            </div>
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                            </div>
                        </td>
                    </tr>
                `;
                tbody.append(row);
            }
        }

        function abrirAlertaFormModal(idAlertaForm, msg) {
            $(`#${idAlertaForm}`).css("display", "block");
            $(`#${idAlertaForm}Texto`).text(msg);
        }

        function fecharAlertaFormModal(idAlertaForm) {
            $(`#${idAlertaForm}`).css("display", "none");
            $(`#${idAlertaForm}Texto`).text(null);
        }

        function abrirAlertaFormSuporte(msg) {
            $alertaFormSuporte.css("display", "block");
            $alertaFormSuporteTexto.text(msg);
        }

        function fecharAlertaFormSuporte() {
            $alertaFormSuporte.css("display", "none");
            $alertaFormSuporteTexto.text(null);
        }

        function definirLog(msg) {
            $logSuporteTexto.text(msg);
        }

        function abrirAlertaPage(tipo, mensagem, log) {
            // ALERTA_TIPO, ALERTA_MENSAGEM, LOG_SUPORTE
            $alertaPage.css("opacity", 1);
            tipo == "danger" ? $alertaPage.addClass("alert-danger") : $alertaPage.addClass("alert-success");
            tipo == "danger" ? $alertaPage.removeClass("alert-success") : $alertaPage.removeClass("alert-danger");

            tipo == "danger" ? $alertaPage.removeClass("bg-success") : $alertaPage.removeClass("bg-danger");
            tipo == "danger" ? $alertaPage.addClass("bg-danger") : $alertaPage.addClass("bg-success");

            $alertaPageTexto.text(mensagem);
            if (log != null) {
                $btnAbrirSuporteModal.show();
                definirLog(log);
            } else {
                $btnAbrirSuporteModal.hide();
            }
        }
        //     /FUNÇÕES.        //

        $(document).ready(function () {
            if (ALERTA_TIPO != null) {
                console.error("Erro: ", LOG_SUPORTE);
                abrirAlertaPage(ALERTA_TIPO, ALERTA_MENSAGEM, LOG_SUPORTE);
            }

            //      EVENTOS.        //
            //      ABRIR/FECHAR MODAL.     //
            $suporteModal.on('shown.bs.modal', function () {
                $("#suporteSenha").focus();
            });

            $suporteModal.on('hidden.bs.modal', function () {
                fecharAlertaFormSuporte();
                $("#suporteSenha").val(null);
                $divFormSuporte.css("display", "block");
                $divLogSuporte.css("display", "none");
            });
            //     /ABRIR/FECHAR MODAL.     //

            //      CLICK.      //
            $btnFecharAlertaPage.click(()   => $alertaPage.css("opacity", 0));
            $btnAbrirSuporteModal.click(()  => $suporteModal.modal("show"));
            $("#btnFecharAlertaModal").click(function () {
                $(this).parent().parent().css("display", "none");
            });
            //     /CLICK.      //

            //      SUBMIT.     //
            $("#formSuporte").submit(async function (e) {
                e.preventDefault();
                if($logSuporteTexto.is(":visible")) return;
                fecharAlertaFormSuporte();
                $("#btnSuporteSenha").val("Carregando...").prop("disabled", true);

                let formData = new FormData(this);

                try {
                    const requisicao = await fetch(`${BASE_URL}/Auth/SenhaSuporte`, {
                        method: "POST",
                        body: formData
                    });

                    if (!requisicao.ok) {
                        const contentType = requisicao.headers.get("content-type");
                        if (contentType && contentType.includes("application/json")) {
                            const erro = await requisicao.json();
                            console.error("Erro: ", erro.logSuporte);
                            abrirAlertaFormSuporte(`Erro: ${erro.mensagem}`);
                        } else {
                            const erro = await requisicao.text();
                            console.error("Erro: ", erro);
                            abrirAlertaFormSuporte("Erro: tente novamente mais tarde ou entre em contato com o suporte");
                        }

                        return;
                    }

                    $divFormSuporte.css("display", "none");
                    $divLogSuporte.css("display", "block");
                } catch (error)
                {
                    console.error("Erro: ", error);
                    abrirAlertaFormSuporte("Erro: tente novamente mais tarde ou entre em contato com o suporte");
                } finally
                {
                    $("#btnSuporteSenha").val("Confirmar").prop("disabled", false);
                    $("#suporteSenha").val(null);
                }
            });
            //      SUBMIT.     //

            //      KEYDOWN.        //
            $(document).keydown(function (e) {
                if (e.ctrlKey && e.altKey && e.key.toLowerCase() === "s") {
                    e.preventDefault();
                    if ($btnAbrirSuporteModal.is(":visible")) {
                        $suporteModal.modal("show");
                    }
                }
            });
            //     /KEYDOWN.        //
            //     /EVENTOS.        //
        });
    </script>
    <!-- 1 Carrega os arquivos em todas as Views; 2 Carrega os arquivos em todas as View de um mesmo grupo; 3 Carrega os arquivos especificos de cada View -->
    @await Component.InvokeAsync("Webpack", 1)
    @await Component.InvokeAsync("Webpack", 2)
    @await Component.InvokeAsync("Webpack", 3)

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
